body {
  background-color: aliceblue;
  font-size: 25px;
}

#scores {
  display: flex;
  margin-left: 2%;
  column-gap: 5%;
}

#heading {
  display: flex;
  align-items: baseline;
  column-gap: 10px;
  font-size: 25px;
}

.btnstyle {
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-left: 5px;
}

#submitbtn {
  float: right;
  border: 1px solid;
  padding: 15px;
  box-shadow: 3px 5px;
  width: 25%;
  font-size: 20px;
  height: 40px;
}

#scorediv {
  border: solid 3px black;
  font-size: 25px;
  font-weight: 500;
}

.score {
  padding: 4px 5px 5px 7px;
}

.score:nth-child(even) {
  background-color: #ddd;
}

#column1 {
  width: 40%;
}

#column2 {
  width: 30%;
}

input {
  width: 100%;
  height: 35px;
  margin-bottom: 10px;
  font-size: 25px;
  padding: 5px;
}
